@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    height: 100%;
}

.navbar {
    background-color: #c4e6ff;
}

.table-striped-color {
    background-color: rgba(223, 236, 255, 0.486);
}

.card-body {
    padding-bottom: 0.4em;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1400px;
}

.card-header-prontuario {
    padding: 0.5em;
}

.breadcrumb {
    background-color: white;
}

.form-select-sexo {
    width: 172px;
    height: 36px;
    border-radius: 5px;
    border-color: rgb(185, 185, 185);
}

.form-select-tutor {
    width: 220px;
    height: 36px;
    border-radius: 5px;
    border-color: rgb(185, 185, 185);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.list-group-item {
    border: none;
}

h1{
     color: rgb(42, 63, 122);
    cursor: default;
}

.creditos {
    margin: 40px 0px;
    text-align: center;
    font-size: 11px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.custom-line {
    height: 1px;
    background-color: #b8b8b8;
    margin: 20px 0;
    text-align: start; /* Para alguns navegadores */
}

label {
    margin-top: 15px;
}

.no-indent {
    padding-left: 0;
    margin-left: 0;
}

.no-indent li {
    padding-left: 0;
    margin-left: 0;
}

.form-select-pront {
    width: 200px;
    height: 36px;
    border-radius: 5px;
    border-color: rgb(185, 185, 185);
}

.form-select-tipo-busca {
    width: 160px;
}

.form-select-entidade-busca {
    width: 210px;
}

.btn-estatisticas {
    color: #e3462c;
    border-color: #e3462c;
}

.btn-estatisticas:hover,
.btn-estatisticas:focus,
.btn-estatisticas:active {
    color: #fff;
    background-color: #e3462c;
    border-color: #e3462c;
}


.chart-container {
    max-width: 100%;
    overflow-x: auto;
}

#heatmap {
    min-width: 800px;
}

#card-pront-dia {
    border-color: #ec4f39;
}

#card-pront-media {
    border-color: #3978ec;
}

.card-estatisticas {
    text-align: center;
}
